@keyframes waveAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust this value to control the wave height */
    }
  }
  
  .wave-element {
    animation: waveAnimation 2s infinite;
  }
  
  .aura-element {
      filter: drop-shadow(0 0 70px rgba(0, 17, 255, 0.8));
    }
    
    .neon-button {
      display: inline-block;
      padding: 10px 20px;
      width: 150px;
      font-size: 1.5rem;
      color: #fff;
      background-color: transparent;
      border: 2px solid transparent;
      border-image: linear-gradient(45deg, #00ffcc, #0066ff);
      border-image-slice: 1;
      border-radius: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50px;
  }
  
  /* .neon-button::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: linear-gradient(45deg, #00ffcc, #0066ff);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: -1;
  } */
  
  .neon-button:hover {
      opacity: 50%;
      color: #af88fc;
      /* color: black; */
  }
  
.responsive_width{
  width:95%
}

.rubber {
  box-shadow: 0 0 0 3px rgb(79, 79, 193), 0 0 0 2px rgb(79, 79, 193) inset;  
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 2px;
  line-height: 30px;
  color: rgb(79, 79, 193);
  font-size: 30px;
  /* font-family: 'cairo', cursive; */
  text-transform: uppercase;
  text-align: center;
  opacity: 0.6;
  width: 200px;
  transform: rotate(-8deg);
  font-family: 'FOREST ITALIC PERSONAL USE';
}